<ion-tabs>
  <ion-tab label="home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="favorites" icon="md-heart" href="/tabs/(home:home)">
    <ion-router-outlet name="fav"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="here & now" icon="md-pin" href="/tabs/(home:home)">
    <ion-router-outlet name="here"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="news feed" icon="md-text" href="/tabs/(about:about)">
    <ion-router-outlet name="news"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="menu" icon="ios-keypad" href="/tabs/(contact:contact)">
    <ion-router-outlet name="menu"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
