<ion-header>
  <ion-toolbar style="background-color:white;">
  <span>Bangkok v</span><img src="../assets/logo.jpg" alt="eat" style=" margin-left:15%" height="50px;"> <img src="../assets/search.png" alt="search" height="25px;" style="margin-left:40px;" ><br>
  <br>
  <span class="custom_tab" style="margin-left:10%;  border-bottom: 0.3em solid orange;">categories </span>
  <span  class="custom_tab">top 50</span>
  <span class="custom_tab">new</span> 
  <span class="custom_tab">a-z</span>
<br>
<br>  
</ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="main">
    <img src="../assets/burger.jpg" alt="burger">
    <div class="back">
      <b>American Burger</b><br>
      <span class="small">32 resturaunts</span>
    </div>
  </div>

  <div class="main">
      <img src="../assets/sea.jpg" alt="sea">
      <div class="back">
        <b>Korean Sushi</b><br>
        <span class="small">61 resturaunts</span>
      </div>
    </div>

    <div class="main">
        <img src="../assets/sea.jpg" alt="sea">
        <div class="back">
          <b>Korean Sushi</b><br>
          <span class="small">61 resturaunts</span>
        </div>
      </div>

      <div class="main">
          <img src="../assets/sea.jpg" alt="sea">
          <div class="back">
            <b>Korean Sushi</b><br>
            <span class="small">61 resturaunts</span>
          </div>
        </div>

        <div class="main">
            <img src="../assets/sea.jpg" alt="sea">
            <div class="back">
              <b>Korean Sushi</b><br>
              <span class="small">61 resturaunts</span>
            </div>
          </div>

          <div class="main">
              <img src="../assets/sea.jpg" alt="sea">
              <div class="back">
                <b>Korean Sushi</b><br>
                <span class="small">61 resturaunts</span>
              </div>
            </div>
        
            <div class="main">
                <img src="../assets/sea.jpg" alt="sea">
                <div class="back">
                  <b>Korean Sushi</b><br>
                  <span class="small">61 resturaunts</span>
                </div>
              </div>
        
              <div class="main">
                  <img src="../assets/sea.jpg" alt="sea">
                  <div class="back">
                    <b>Korean Sushi</b><br>
                    <span class="small">61 resturaunts</span>
                  </div>
                </div>
        
                <div class="main">
                    <img src="../assets/sea.jpg" alt="sea">
                    <div class="back">
                      <b>Korean Sushi</b><br>
                      <span class="small">61 resturaunts</span>
                    </div>
                  </div>
</ion-content>