.main{
    margin-bottom:20px;
}
.back{
    background: rgba(black, 0.5);
    position: absolute;
    margin-top: -62px;
    width:91.5%; 
    padding:12px;
    color:white;
    text-align: center
}

.small{
    font-size:12px;
    color:white
}

.custom_tab{
    padding:15px;
    color:gray;
    text-align: center;
}